# requirements.txt

# Основная библиотека для работы с Telegram
python-telegram-bot

# Драйвер для работы с PostgreSQL
psycopg

# Менеджер пула соединений
psycopg-pool

# Для загрузки переменных окружения
python-dotenv

# Для работы с API Gemini
google-generativeai

# --- НОВЫЕ ЗАВИСИМОСТИ ДЛЯ ВЕБ-СЕРВИСА ---
# Простой веб-фреймворк
Flask

# Производственный веб-сервер для запуска Flask на Render
gunicorn
