# requirements.txt

# Основная библиотека для работы с Telegram
python-telegram-bot

# САМ ДРАЙВЕР для работы с PostgreSQL
psycopg

# Менеджер пула соединений (который использует psycopg)
psycopg-pool

# Для загрузки переменных окружения
python-dotenv

# Для работы с API Gemini
google-generativeai
